html {
  overflow-x: hidden;
  color:#2196F3;
  padding-bottom: 10px;
}
.errorMsg {
  color: red;
  text-align: center;
}
.my-container-chat {
  position: fixed;
  right:0;
  border-left: 1px solid #E7E7E7;
  height: 105vh;
  background-color: rgb(231, 231, 231);
}