
.chatul {
  list-style: none;
}

.my-container {
  position: fixed;
  outline: 1px solid pink;
  right: 0;
  top: 0;
  height: 100vh;
}

.my-input {
  position: absolute;
  bottom: 0;
  margin-bottom: 10vh;
  width: 90%;
}


.col-sm-6 {
  position: inherit;
  width: 45vw;
}

.list-group {
  list-style: none;
}

.user-sign:before {
  content: ' \25CF    ';
  font-size: 2rem;
  color: lawngreen;
}

.col-sm-6 {

}

